########################################
### BACKEND IGNORE RULES
########################################

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*
/backend/.pnpm-debug.log*

# Diagnostic reports
/backend/report.*.json

# Runtime data
/backend/pids
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock

# Instrumented libs
/backend/lib-cov

# Coverage
/backend/coverage
/backend/*.lcov
/backend/.nyc_output

# Grunt
/backend/.grunt

# Bower
/backend/bower_components

# node-waf
/backend/.lock-wscript

# Binary addons
/backend/build/Release

# Dependency directories
/backend/node_modules/
/backend/jspm_packages/
/backend/web_modules/

# TypeScript cache
/backend/*.tsbuildinfo

# npm cache
/backend/.npm

# ESLint cache
/backend/.eslintcache

# stylelint cache
/backend/.stylelintcache

# Microbundle cache
/backend/.rpt2_cache/
/backend/.rts2_cache_cjs/
/backend/.rts2_cache_es/
/backend/.rts2_cache_umd/

# REPL history
/backend/.node_repl_history

# Output of 'npm pack'
/backend/*.tgz

# Yarn Integrity
/backend/.yarn-integrity

# dotenv files
/backend/.env
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.local

# Parcel cache
/backend/.cache
/backend/.parcel-cache

# Next.js
/backend/.next
/backend/out

# Nuxt.js
/backend/.nuxt
/backend/dist

# Gatsby
/backend/.cache/

# VuePress
/backend/.vuepress/dist
/backend/.temp

# Docusaurus
/backend/.docusaurus

# Serverless
/backend/.serverless/

/backend/.fusebox/

/backend/.dynamodb/

/backend/.tern-port

/backend/.vscode-test

# Yarn v2
/backend/.yarn/cache
/backend/.yarn/unplugged
/backend/.yarn/build-state.yml
/backend/.yarn/install-state.gz
/backend/.pnp.*

# Serverless Webpack
/backend/.webpack/

/backend/.svelte-kit

# SSL certificates
/backend/*.pem
/backend/ca.pem

########################################
### FRONTEND IGNORE RULES
########################################

# dependencies
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
