@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

.content {
    width: 100%;
    height: 100%;
    margin-top: 6rem;
}

.layout {
    height: 100vh
}

.userData p {
    margin: 0.4rem;
}

.button {
    width: 100%;
    height: 2.5rem;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.3rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.button:hover {
    background-color: #e0e0e0;
}

.arrow_back img {
    width: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.alert {
    margin-bottom: 2rem;;
}

.loading_content {
    margin-top: 25%;
    display: flex;
    justify-content: center;
}