@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.part_login {
  display: flex;
  gap: 17em;
}

.arrow_back img {
  width: 100px;
  padding: 10px;
  opacity: 50%;
}

.arrow_back {
  margin-left: -35px;
  margin-bottom: 10px;
}

.arrow_back:hover {
  cursor: pointer;
}

/* input[type="text"] {
  width: 50em;
} */

.right h3 {
  font-size: 35px;
  font-weight: 350;
}

.right button {
  background-color: #2d6b6a;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 20%;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.right button:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.title_login {
  font-size: 35px;
  font-weight: 350;
}

.right {
  background-color: #f5f0ea;
  color: #2d6b6a;
  display: inline-block;
  height: 100%;
  width: 50%;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.patamania {
  width: 280px;
  margin: 10px 0;
}

.social_list {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.social_list img {
  /* border: solid black 0.5px; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 6px;
  width: 2.4em;
}

.social_list img:hover {
  cursor: pointer;
}

.container {
  display: flex;
  width: 100%;
  height: 760px;
}

.form_cadastro {
  padding: 0 4em 0 4em;
  background-color: #fff;
  align-content: center;
  width: 50%;
}

.form_login h1 {
  text-align: center;
  margin-bottom: 55px;
}

.form_login input {
  display: block;
  margin-bottom: 1.2em;
  margin-top: 0.2em;
}

/* input[type="text"] {
  width: 672px;
}
 */
.label_dados {
  font-weight: 500;
  font-size: 15px;
}

.dados_info {
  padding: 10px;
  border-radius: 10px;
  border: transparent;
  margin-bottom: 10px;
  width: 100%;
  background-color: #f0f0f0;
}

.remember {
  display: flex;
  color: #a7cbc9;
  font-size: 15px;
  gap: 5px;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background-color: #a7cbc9;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 5px;
}

.submit_button {
  background-color: #2d6b6a;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.submit_button:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.link {
  color: #a7cbc9;
  font-size: 15px;
  margin-left: 29em;
}

.erro {
  color: red;
  margin-top: 0em;
}

@media (max-width: 1920px) {
  .container {
    overflow: hidden;
    height: 622px;
  }

  .social_list {
    margin-left: 13em;
  }

  .link {
    margin-left: 39em;
  }
  /* 
  input[type="text"] {
    width: 52em; 
  } */

  .form_login {
    margin-top: 2.5em;
  }

  .right {
    height: 48.3rem;
  }
}

@media (max-width: 1440px) {
  .container {
    height: 100vh;
  }

  /*   input[type="text"] {
    width: 37em; 
  } */

  .image {
    width: 100%;
    height: 100%;
  }

  .social_list {
    margin-left: 5em;
  }

  .right {
    padding: 0 35px;
    height: 40em;
  }

  .form_login {
    padding-top: 5em;
  }
}

@media (max-width: 1360px) {
  /*   input[type="text"] {
    width: 33em; 
  } */
}

@media (max-width: 1024px) {
  .container {
    height: 962px;
  }

  .social_list {
    margin-left: -11em;
  }

  .link {
    margin-left: 10em;
  }

  /*   input[type="text"] {
    width: 24em; 
  } */
}

@media (max-width: 320px) {
  .link {
    margin-left: 10em;
  }

  /*   input[type="text"] {
    width: 5em; 
  } */
}
