.home_container {
    margin-top: 6rem;
    margin-left: 1rem;
    padding: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    margin-top: 2rem;
    width: 90%;
}

.without_undeline {
  text-decoration: none;
  color: black;
}